[submodule "lib/FNET"]
	path = lib/FNET
	url = https://github.com/vjmuzik/FNET.git
[submodule "lib/NativeEthernet"]
	path = lib/NativeEthernet
	url = https://github.com/vjmuzik/NativeEthernet.git
[submodule "lib/TeensyDebug"]
	path = lib/TeensyDebug
	url = https://github.com/ftrias/TeensyDebug.git
[submodule "lib/knx"]
	path = lib/knx
	url = http://SynologyNAS:30000/michael/knx.git
